.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	// width: 1000px;
	// min-width: 1000px;
	// background: #000;
	// overflow: auto;
	// height: 83vh;
	// min-height: 83vh;
	.react-transform-component,
	.transform-component-module_content__2jYgh {
		background-color: #000;
		box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
	}
}

.docs {
	padding: 60px 70px 60px 100px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;

	.table {
		thead,
		th,
		tr,
		td {
			border-style: solid;
			padding: 2px 10px 2px 10px;
			font-size: 1rem;
		}
		.header {
			font-weight: bold;
		}
	}

	.h5 {
		font-size: 1.15rem;
	}
}
