.loading {
	position: absolute;
	padding: 0.5rem;
	width: calc(36px + 1rem);
	height: calc(36px + 1rem);
	background-color: rgba(128, 128, 128, 0.185);
	border-radius: 100%;
	top: 4rem;
	left: 50%;
	z-index: 50;
	transform: translateX(-50%);
}
